.box {}

.icon {
    width: 200px;
    height: 200px;
    background-color: aqua;
    position: relative;
}

input {
    display: none;
    position: absolute;
}

.icon:hover {
    display: block;
    background-color: black;
}