.sell-content-container {
    position: relative;
    text-align: center;
}

.sell-content {
    position: absolute;
    color: #fff;
    font-weight: 700;
    font-size: 46px;
    top: 15%;
}

.sell-content-flex {
    display: flex;
    justify-content: center;
}