.sell-banner {
    background-image: url(../img/SELL-BANNER-2.jpg);
    animation: zoom-fade 2.5s cubic-bezier(.26, .54, .32, 1) 0s forwards;
    filter: brightness(50%);
    height: 27%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;
}